p{
    margin: 0;
    padding: 0;
}

.chat_page{
    display: flex;
    flex-direction: row-reverse;
    height: 94vh;
    width: 98%;
    margin: 0 auto;
}

.Chat_bar{
    width: 74%;
    /* border-style: groove; */
    border:  2px groove #555;
    background-color: beige;
}
.Contacts_bar{
width: 24%;
border:  2px groove #556;
/* border-style: groove; */
}


.msg {
    font-size: x-small;
    border: 2px solid #dedede;
    /* border-radius: 2px; */
    padding: 1px;
    margin: 3px 1%;
  }
.msg_self{
    background-color: #eeeeee;
}
.msg_time{
    color: #aaaaaa;
    font-size: 5px;
}


.bar_title{
    height: 8%;
    width: 100%;
    background-color: aquamarine;
    margin: 0;
}
.bar_middle{
    height: 82%;
    overflow-y: auto;
}
.bar_bottom{

    height: 10%;

}
.user_info{
    border:  1px solid #32a1ce;
    padding: 0.3vh;
    font-size: xx-small;
}
/* .user_info_current{
    border: 1px solid #fa110c;
    padding: 0.3vh;
    font-size: xx-small;
} */